__pycache__/
.ipynb_checkpoints/

# Model directory
signal_model_v1/

# Virtual environment
mtp/

# Data directory (exclude all except bandfilter_acc.py)
data_prep_acc/*
!data_prep_acc/bandfilter_acc.py

# PGA predictor
pga_predictor.py

