__pycache__/
.ipynb_checkpoints/

# Model directory
signal_model_v3/
signal_model_v4/
signal_model_v5/


# Virtual environment
mtp/

# Data directory (exclude all except bandfilter_acc.py)
# data_prep_acc/*
# !data_prep_acc/bandfilter_acc.py

# PGA predictor
diagnose_data.py
debug_explosion.py

